<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript">

    function shareStory(title, url) {
        try {
            if (Kakao) {
                Kakao.init('0e15a0429ed928f58ed88d15c83e55fe');
            };
        } catch(e) {};
        Kakao.Story.open({
            url: url,
            text: title
        });
    }

    function sendLink(title, url, image) {
        try   {
            if (Kakao) {
                Kakao.init('0e15a0429ed928f58ed88d15c83e55fe');
            };
        } catch(e) {};
        // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
        Kakao.Link.createTalkLinkButton({
            container: '#kakao-link-btn',
            label: title,
            image: {
                src: image,
                width: '300',
                height: '200'
            },
            webButton: {
                text: '홈페이지 방문하기',
                url: url // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
            }
        });
    }

</script>
<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
            {% if site.logo_dark %}
                <img src="{{ site.baseurl }}{{ site.logo_dark }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ site.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">공유하기 {% include point.html %}</div>
        <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url | remove_first: '/' }}"
           onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            <img src="{{ site.baseurl }}assets/images/bonhair/common/share/facebook.png"/>
        </a>
        <div style="width: 10px"></div>
        <a class="floating-header-share-fb" href="http://share.naver.com/web/shareView.nhn?url={{ site.production_url }}{{ page.url | remove_first: '/' }}&title={{ site.title }}"
           onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            <img src="{{ site.baseurl }}assets/images/bonhair/common/share/naver.png"/>
        </a>
        <div style="width: 10px"></div>
        <!--
        <a class="floating-header-share-fb" onclick="javascript:shareStory('{{ site.title }}', '{{ site.production_url }}{{ page.url | remove_first: '/' }}')">
            <img src="{{ site.baseurl }}assets/images/bonhair/common/share/kakaostory.png"/>
        </a>

        <div style="width: 8px"></div>
        <a id="kakao-link-btn" class="floating-header-share-fb" onclick="javascript:sendLink('{{ site.title }}', '{{ site.production_url }}{{ page.url | remove_first: '/' }}', '{{ site.production_url }}{{ page.cover }}');" >
            <img src="{{ site.baseurl }}assets/images/bonhair/common/share/kakao.png"/>
        </a>
        <div style="width: 8px"></div>
        -->
        <a class="floating-header-share-fb" href="sms://?body={{ site.production_url }}{{ page.url | remove_first: '/' }}">
            <img src="{{ site.baseurl }}assets/images/bonhair/common/share/sms.png"/>
        </a>
        <div style="width: 10px"></div>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>



