<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}"><strong>홈</strong></a></li>
    <li class="nav-home" role="menuitem"><a href="https://pf.kakao.com/_zyxgCM">카톡상담</a></li>
    <li class="nav-home" role="menuitem"><a href="https://blog.naver.com/lcw4552">블로그/카페</a></li>
    <li class="nav-home" role="menuitem"><a href="tel:041-622-8822">전화문의</a></li>
    <li class="nav-home" role="menuitem"><a href="https://map.naver.com/?searchCoord=902f30e5232c6a9e8cd2a8adf82cae9c39fac2cdb280c4a8b4bc8f012b25b37e&query=7Lap64KoIOyynOyViOyLnCDrj5nrgqjqtawg7Iug67aA64%2BZIDQ2OC0xMSDslKjsl5Tsl5DsnbTtg4Dsm4wgM%2By4tSDrs7jtl6TslrQ%3D&tab=1&lng=7e97f781f8ecfc213b3bca36d31fc3e5&mapMode=0&mpx=15131590%3A36.8183186%2C127.1586348%3AZ12%3A0.0062571%2C0.0077167&lat=e948a7496b09755d08ed180b3edb88c7&dlevel=12&enc=b64&menu=location">오시는길</a></li>
    <!--
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/이벤트/">Getting Started</a></li>
    -->
</ul>