<!DOCTYPE html>
<html>
<head>

    <!-- Document Settings -->
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Base Meta -->
    {% include dynamic_title.html %}
    <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/built/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/built/screen.edited.css" />
    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <style>.hljs { background: none; }</style>

    <span itemscope="" itemtype="http://schema.org/Organization">
        <link itemprop="url" href="http://www.bonhair.co.kr">
        <a itemprop="sameAs" href="https://www.facebook.com/bonhair151220"></a>
        <a itemprop="sameAs" href="https://www.instagram.com/explore/tags/%EB%B3%B8%ED%97%A4%EC%96%B4/"></a>
        <a itemprop="sameAs" href="https://blog.naver.com/lcw4552"></a>
    </span>

    <!-- This tag outputs SEO meta+structured data and other important settings -->
    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %}">

    <div class="main-floating-header">
        <div class="floating-header-logo">
            <a href="{{ site.url }}{{ site.baseurl }}">
                {% if site.logo_dark %}
                <img src="{{ site.baseurl }}{{ site.logo_dark }}" alt="{{ site.title }} icon" />
                {% endif %}
                <span>{{ site.title }}</span>
            </a>
        </div>
        <span class="floating-header-divider"></span>
        <div class="floating-header-title">{{ page.title }}</div>
        <div class="floating-header-share">
            <div class="floating-header-share-label">공유하기 {% include point.html %}</div>
            <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url | remove_first: '/' }}"
               onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                <img src="{{ site.baseurl }}assets/images/bonhair/common/share/facebook.png"/>
            </a>
            <a class="floating-header-share-fb" href="http://share.naver.com/web/shareView.nhn?url={{ site.production_url }}{{ page.url | remove_first: '/' }}&title={{ site.title }}"
               onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                <img src="{{ site.baseurl }}assets/images/bonhair/common/share/naver.png"/>
            </a>
            <a class="floating-header-share-fb" onclick="javascript:shareStory('{{ site.title }}', '{{ site.production_url }}{{ page.url | remove_first: '/' }}')">
                <img src="{{ site.baseurl }}assets/images/bonhair/common/share/kakaostory.png"/>
            </a>
            <a id="kakao-link-btn" class="floating-header-share-fb" onclick="javascript:sendLink('{{ site.title }}', '{{ site.production_url }}{{ page.url | remove_first: '/' }}', '{{ site.production_url }}{{ page.cover }}');" >
                <img src="{{ site.baseurl }}assets/images/bonhair/common/share/kakao.png"/>
            </a>
            <a class="floating-header-share-fb" href="sms://?body={{ site.production_url }}{{ page.url | remove_first: '/' }}">
                <img src="{{ site.baseurl }}assets/images/bonhair/common/share/sms.png"/>
            </a>
        </div>
        <progress class="progress" value="0">
            <div class="progress-container">
                <span class="progress-bar"></span>
            </div>
        </progress>
    </div>

    <div class="site-wrapper">
        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {{ content }}

        <!-- Previous/next page links - displayed on every page -->
        {% if paginator.total_posts > site.paginate %}
            {% if page.class == 'home-template' %}
                {% include post_pagination.html %}
            {% elsif page.class == 'page-template' %}
                {% include post_pagination.html %}
            {% elsif page.class == 'author-template' %}
                {% include author_pagination.html %}
            {% elsif page.class == 'tag-template' %}
                {% include tag_pagination.html %}
            {% else %}
                {% include post_pagination.html %}
            {% endif %}
        {% endif %}

        <!-- The footer at the very bottom of the screen -->
        <br>
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{ site.url }}{{ site.baseurl }}">{{ site.display_title }}</a> &copy; {{  site.time | date: '%Y' }}</section>
                <section class="poweredby">
                    본헤어 ☎︎ 041-622-8822 <br>
                    충남 천안시 동남구 신부동 468-11 씨엔에이타워 3층 본헤어 <br>
                    대표자::이창원 사업자번호::651-55-00074 <br>
                </section>
                <nav class="site-footer-nav">
                    {% if site.facebook %}<a href="https://www.facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">Facebook</a>{% endif %}
                    {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">Twitter</a>{% endif %}
                    <a href="https://www.instagram.com/explore/tags/%EB%B3%B8%ED%97%A4%EC%96%B4/" target="_blank" rel="noopener">Instagram</a>
                </nav>
            </div>
        </footer>

    </div>

    <!-- The big email subscribe modal content -->
    {% if site.subscribers %}
        <div id="subscribe" class="subscribe-overlay">
            <a class="subscribe-overlay-close" href="#"></a>
            <div class="subscribe-overlay-content">
                {% if site.logo %}
                    <img class="subscribe-overlay-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.display_title }}" />
                {% endif %}
                <h1 class="subscribe-overlay-title">Subscribe to {{ site.title }}</h1>
                <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
                {% include subscribe-form.html placeholder="youremail@example.com" %}
            </div>
        </div>
    {% endif %}

    <!-- highlight.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/components/prism-abap.min.js"></script>
    <script>$(document).ready(function() {
      $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });</script>

    <!-- jQuery + Fitvids, which makes all video embeds responsive -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="https://demo.ghost.io/assets/js/jquery.fitvids.js?v=724281a32e"></script>


    <!-- Paginator increased to "infinit" in _config.yml -->
    <!-- if paginator.posts  -->
    <!-- <script>
        var maxPages = parseInt('{{ paginator.total_pages }}');
    </script>
    <script src="{{ site.baseurl }}assets/js/infinitescroll.js"></script> -->
    <!-- /endif -->

    {% if paginator.total_pages > site.paginate %}
    <script>
        var maxPages = parseInt('{{ paginator.total_pages }}');
    </script>
    <script src="{{ site.baseurl }}assets/js/infinitescroll.js"></script>
    {% endif %}


    <!-- Add Google Analytics  -->
    {% include analytics.html %}

    <!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. -->
    {% if page.class == "post-template" %}
        {% include post-scripts.html %}
    {% elsif page.class == "page-template" %}
        {% include page-scripts.html %}
    {% endif %}

    <!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag -->
    <!-- ghost_foot -->

</body>

<a class="btn" style="position: fixed; left: 10px; bottom: 10px; z-index: 100;" href="{{site.baseurl}}">HOME</a>

<a class="btn" style="position: fixed; right: 10px; bottom: 10px; z-index: 100;" onclick="window.scrollTo(0, 1);">TOP</a>

</html>
